In [1]:
import pandas as pd

lyrics = pd.read_csv('data/lyrics/lyrics_2019-4-5.txt')

len(lyrics)

33358

In [2]:
lyrics.drop_duplicates(subset=['song_id'], inplace=True)
len(lyrics)

33302

In [3]:
lyrics.head()

,song_id,artist,title,lyrics
0,2cX3Om7xlCQxKRYo1ofvOM,Alu Mix,Le Encanta,NaN
1,0M9vPH1vUOhK8TVVFQzX2f,Uzielito Mix,Niña Buena,NaN
2,2Ulyr7Y5DFPnH7Qo3qxvFL,Michael G,Tibiri Tabara - feat. Uzielito Mix,NaN
3,6EJadbufi05YD8vQb98Poq,Cheo Andujar,Dia Tras Dia,NaN
4,733FRL9y0I7Pm1QZBeMm6X,Sir Speedy,Como Mi Nena No Hay (feat. Master Joe y O.G. B...,NaN

In [4]:
lyrics.to_csv('data/lyrics/lyrics_for_2019-4-5_14-17-22.txt', index=False, encoding='utf8')

In [5]:
playlists = pd.read_csv('playlists.csv')
playlists

                             name                      id
0                  Mexico City MX  5SHk94ZLUYckc8ZQBF4vqv
1                     Santiago CL  1YKDzk8dulhTk8BfLjZlGS
2                    São Paulo BR  6QOjOvLDWKVNCW9H1J9vCY
3       Los Angeles California US  53JqQphsAHvDGGVZErKmW5
4             Chicago Illinois US  6UhIdjRWhofrYI32vzVuh9
5                        Paris FR  2sxvQMwzAo9yjbDVBxufmh
6                       London GB  19wzfxZp8hgp16XrLwc12e
7                Houston Texas US  7ihMjetICZGO8wxr65fJmx
8                 Buenos Aires AR  1iyu1s4szp3ASCNSbGerzQ
9                 Dallas Texas US  5thq4HQaIBxOK1vE9bu2nj
10                      Madrid ES  6c39fJ8cKRZh0tNx0rnn3T
11                        Lima PE  4bAPnXF75Wq8YZ7UiTV3Ty
12             Atlanta Georgia US  2t6uU8AELDRclkCaw1vydr
13                     Toronto CA  13tOPoUzV01Y8ecn2pJcKt
14           New York New York US  4vH8Fb8fmgM4NELtVHIJQj
15                   Amsterdam NL  2ifz20E9OmNq4bwiM4Ljwu
16                     Jakarta ID  1LpzaNlBoXai5Pk15XFcO2
17                        Oslo NO  55x1yHC2AcXIwttpo753ox
18                   Stockholm SE  2hrK0uywgccjXbeYgArX7Q
19           Brooklyn New York US  1TyZihjHVxRiLgIIQ8doRz
20              Rio de Janeiro BR  0RB9TGqkbQ6pDRKcvGuzp6
21                    Istanbul TR  6d4VetcBureS2kT9S7HPXF
22                     Zapopan MX  3L11cPKOzKS0bwlo8ljj8Z
23    San Francisco California US  7lP1NljSSmtIezSvXaRu1M
24                   Singapore SG  5dbzNyAsTRH8Y8OcpVXhld
25                 Puebla City MX  3Q21UUviI0lBQHQUy5qhGK
26                 Quezon City PH  2ydams7eMWnC4OlHWm7JAS
27                     Hamburg DE  55MH5B9IOaMpCGQjbsTqB5
28                       Milan IT  5Mc2WDyCgHc4plxVWPG9w5
29                      Berlin DE  7BRS5IzacmVtRjGH1JYwM6
...                           ...                     ...
2864                    Mielec PL  6phVArEu8tH5WeLOnysUzd
2865                 Ayutthaya TH  2FB5lG8uByOsVZ1d2tUBBf
2866                Ratchaburi TH  0deHRYEYlizQKH9WLdbUl6
2867                 Włocławek PL  2LaLGKlhcJbdnpqRBpM6bB
2868                  Wakayama JP  66jWDfvlTmZM4RqMjNBXeQ
2869                 Kurashiki JP  2lV8Nx2yHrvMEJiGf1ZEqH
2870                 Riihimäki FI  6xvpVWILX9jEDSE36JjToB
2871              Samut Sakhon TH  1CXGDTrWiiCKhmvWPCy1z9
2872                    Zamość PL  17AriJexrTCviLkcLj4QLY
2873                   Keelung TW  06e6bNP87GoHQYfpDBnbPc
2874              Taitung City TW  5qcHeYzOvOl69xBz9lxHX7
2875                    Yozgat TR  5354MYFfJ2vZBVMsfW84WG
2876                     Kutno PL  6od2m8AwRuHFQQM6wm3FRT
2877                  Mäntsälä FI  4mleeAi5MajPDL8kwwhQDv
2878                     Rauma FI  7gVXDO6laZBhgh2f3aVZch
2879                Chiang Rai TH  1Ygr9lwdAnrk7lTylIOsBx
2880                     Jaslo PL  0LtVV5pq720xJZV2BdJ5sL
2881                      Ōtsu JP  3UNMJ8DJuxBzVNOWviNGiX
2882                 Bełchatów PL  362GBMcXzKaT76PjYBP52T
2883                    Jokela FI  6wSdaCIjwkixHaexzjB8MU
2884                 Kangasala FI  3XV0lyuO2dGbvEvv0ZUAEb
2885                   Lopburi TH  577QOdJHVTlf74mJAppUmz
2886              Samut Prakan TH  1eIJ56wDbBtdMfR8UePQRL
2887              Nakhon Sawan TH  2U3ek0pMGmEnFOLy2UiDvs
2888          Ubon Ratchathani TH  1nzF3QaAppdqA71XpttNkH
2889            Brondby Strand DK  6smQfuGuk2HVdT51hdUPj3
2890                  Si Racha TH  4YGwQFZ4ceL9BlLsGkzT5p
2891                  Saraburi TH  3WF043oZ6ZKnuKAOJPBdg1
2892              Chachoengsao TH  4dv3vvVbM9SmzAsjeXnYrS
2893                   Lampang TH  0uS38qiomAE340F6xQEPG1

[2894 rows x 2 columns]

In [16]:
from geopy.geocoders import Nominatim
geolocator = Nominatim(user_agent="musical_map_study")

In [9]:
location = geolocator.geocode(playlists.iloc[0]['name'])
print((location.latitude, location.longitude))

(19.4326009, -99.1333416)

In [11]:
playlists['long'] = ""
playlists['lat'] = ""
playlists.head()

                        name                      id long lat
0             Mexico City MX  5SHk94ZLUYckc8ZQBF4vqv
1                Santiago CL  1YKDzk8dulhTk8BfLjZlGS
2               São Paulo BR  6QOjOvLDWKVNCW9H1J9vCY
3  Los Angeles California US  53JqQphsAHvDGGVZErKmW5
4        Chicago Illinois US  6UhIdjRWhofrYI32vzVuh9

In [18]:
playlists_1 = playlists[:500].copy()

In [19]:
from tqdm._tqdm_notebook import tqdm_notebook
tqdm_notebook.pandas()

pbar = tqdm_notebook(total=len(playlists))

# for i, row in playlists.iterrows():
#     location = geolocator.geocode(row['name'])
#     if location is not None:
#         playlists.iloc[i]['lat'] = location.latitude
#         playlists.iloc[i]['long'] = location.longitude
#     pbar.update(1)

from geopy.extra.rate_limiter import RateLimiter
geocode = RateLimiter(geolocator.geocode, min_delay_seconds=1)
playlists_1['location'] = playlists_1['name'].progress_apply(geocode)

playlists_1

HBox(children=(IntProgress(value=0, max=2894), HTML(value='')))

HBox(children=(IntProgress(value=0, max=500), HTML(value='')))

,name,id,long,lat,location
0,Mexico City MX,5SHk94ZLUYckc8ZQBF4vqv,-99.1333,19.4326,"(Ciudad de México, Cuauhtémoc, CDMX, 06060, Mé..."
1,Santiago CL,1YKDzk8dulhTk8BfLjZlGS,-70.6504,-33.4378,"(Santiago, Provincia de Santiago, Región Metro..."
2,São Paulo BR,6QOjOvLDWKVNCW9H1J9vCY,-46.6334,-23.5507,"(SP, Região Imediata de São Paulo, RMSP, Regiã..."
3,Los Angeles California US,53JqQphsAHvDGGVZErKmW5,-118.243,34.0537,"(LA, Los Angeles County, California, USA, (34...."
4,Chicago Illinois US,6UhIdjRWhofrYI32vzVuh9,-87.6244,41.8756,"(Chicago, Cook County, Illinois, USA, (41.8755..."
5,Paris FR,2sxvQMwzAo9yjbDVBxufmh,2.3515,48.8566,"(Paris, Île-de-France, France métropolitaine, ..."
6,London GB,19wzfxZp8hgp16XrLwc12e,-0.127647,51.5073,"(London, Greater London, England, SW1A 2DX, UK..."
7,Houston Texas US,7ihMjetICZGO8wxr65fJmx,-95.3677,29.7589,"(Houston, Harris County, Texas, USA, (29.75893..."
8,Buenos Aires AR,1iyu1s4szp3ASCNSbGerzQ,-58.4371,-34.6076,"(CABA, Argentina, (-34.6075616, -58.437076))"
9,Dallas Texas US,5thq4HQaIBxOK1vE9bu2nj,-99.076,19.5059,"(Dallas Texas, Las Vegas Xalostoc, Ecatepec, E..."
10,Madrid ES,6c39fJ8cKRZh0tNx0rnn3T,-3.70358,40.4167,"(Madrid, Área metropolitana de Madrid y Corred..."
11,Lima PE,4bAPnXF75Wq8YZ7UiTV3Ty,-77.0365,-12.0621,"(Lima, Perú, (-12.0621065, -77.0365256))"
12,Atlanta Georgia US,2t6uU8AELDRclkCaw1vydr,-84.3902,33.7491,"(Atlanta, Fulton County, Georgia, USA, (33.749..."
13,Toronto CA,13tOPoUzV01Y8ecn2pJcKt,-79.3872,43.654,"(Toronto, Ontario, M6K 1X9, Canada, (43.653963..."
14,New York New York US,4vH8Fb8fmgM4NELtVHIJQj,-82.4425,27.9604,"(New York New York, 1512, East 7th Avenue, Ybo..."
15,Amsterdam NL,2ifz20E9OmNq4bwiM4Ljwu,4.89798,52.3745,"(Amsterdam, Noord-Holland, Nederland, (52.3745..."
16,Jakarta ID,1LpzaNlBoXai5Pk15XFcO2,106.827,-6.17539,"(JKT, Indonesia, (-6.1753942, 106.827183))"
17,Oslo NO,55x1yHC2AcXIwttpo753ox,10.739,59.9133,"(Oslo, 0026, Norge, (59.9133301, 10.7389701))"
18,Stockholm SE,2hrK0uywgccjXbeYgArX7Q,18.0711,59.3251,"(Sthlm, Stockholm, Stockholms län, Svealand, 1..."
19,Brooklyn New York US,1TyZihjHVxRiLgIIQ8doRz,-73.9496,40.6501,"(BK, Kings County, NYC, New York, 11226, USA, ..."
20,Rio de Janeiro BR,0RB9TGqkbQ6pDRKcvGuzp6,-43.2094,-22.911,"(Rio de Janeiro, Microrregião Rio de Janeiro, ..."
21,Istanbul TR,6d4VetcBureS2kT9S7HPXF,28.9652,41.0096,"(İstanbul, Fatih, İstanbul, Marmara Bölgesi, 3..."
22,Zapopan MX,3L11cPKOzKS0bwlo8ljj8Z,-103.426,20.7024,"(Zapopan, Jalisco, 45129, México, (20.702442, ..."
23,San Francisco California US,7lP1NljSSmtIezSvXaRu1M,-122.419,37.7793,"(SF, California, USA, (37.7792808, -122.4192363))"
24,Singapore SG,5dbzNyAsTRH8Y8OcpVXhld,103.878,1.34085,"(Singapore, Southeast, Singapore, (1.3408528, ..."
25,Puebla City MX,3Q21UUviI0lBQHQUy5qhGK,-98,18.8333,"(Puebla, México, (18.833333, -98.0))"
26,Quezon City PH,2ydams7eMWnC4OlHWm7JAS,121.049,14.651,"(Quezon City, 4th District, Quezon City, Metro..."
27,Hamburg DE,55MH5B9IOaMpCGQjbsTqB5,10.0007,53.5503,"(Hamburg, 20095, Deutschland, (53.550341, 10.0..."
28,Milan IT,5Mc2WDyCgHc4plxVWPG9w5,9.1905,45.4668,"(Milano, MI, LOM, Italia, (45.4667971, 9.19049..."
29,Berlin DE,7BRS5IzacmVtRjGH1JYwM6,13.3889,52.517,"(Berlin, 10117, Deutschland, (52.5170365, 13.3..."
...,...,...,...,...,...
470,Zoetermeer NL,5gZSquFNGHQoMduRSF0soq,4.48775,52.0623,"(Zoetermeer, Zuid-Holland, Nederland, (52.0622..."
471,Santa Rosa PH,2s38eK6oyW6cvbGLm7Jf4Y,-81.6176,8.17177,"(Santa Rosa (p), Distrito Tolé, Chiriquí, Pana..."
472,Natal BR,0nFPFxzBc3SWbwaneiZQXw,-35.2081,-5.8054,"(Natal, Microrregião de Natal, Mesorregião do ..."
473,Tallahassee Florida US,5jzqU9XaoRi7Myt4MLCRw2,-84.2809,30.4381,"(Tallahassee, Leon County, Florida, USA, (30.4..."
474,Bonn DE,5JHgItKCUtwifREY7fuXTX,7.10066,50.7359,"(Bonn, Regierungsbezirk Köln, Nordrhein-Westfa..."
475,Fremont California US,6oO7wSM87KtoXT8EBcwawZ,-121.989,37.5483,"(Fremont, Alameda County, California, USA, (37..."
476,Katy Texas US,2TGyU3Bop1htx0QOKBCMtQ,-95.8244,29.7858,"(Katy, Fort Bend County, Texas, USA, (29.78578..."
477,Mira Loma California US,3Yd8GZbbQCB60z8cV8A1Lz,-117.515,33.9821,"(Mira Loma Locality, 58th Street, Mira Loma, E..."
478,Greenwich GB,305pQCFxEb4VmWOtxIaYl1,1.16893,52.0367,"(Greenwich, Ipswich, Suffolk, East of England,..."
479,Taoyuan District TW,3Iv9NOni8417Epu0nV7QTk,121.302,24.9939,"(桃園區, 桃園市, 330, 臺灣, (24.993923, 121.30168))"
480,João Pessoa BR,1UIwXefnM2Qox4mnsYSBW6,-34.882,-7.1216,"(João Pessoa, Microrregião de João Pessoa, Reg..."
481,Osnabrück DE,6nAdpWHTQegZMSVK3IlV5F,8.04974,52.2668,"(Osnabrück, Niedersachsen, 49074, Deutschland,..."
482,Villingen-Schwenningen DE,3hpthCL5U9nwqrfataEouj,8.49459,48.0633,"(Villingen-Schwenningen, Verwaltungsgemeinscha..."
483,Haarlem NL,3CDIsjPmnPrpydvIEGCGMi,4.64356,52.3837,"(Haarlem, Noord-Holland, Nederland, (52.383705..."
484,Ho Chi Minh City VN,0vwHwRhZ4lT6wo4ShOO7nU,106.702,10.7758,"(Tp HCM, Việt Nam, (10.7758439, 106.7017555))"
485,Eugene Oregon US,4GFmvJIHBzowHJJMB8nBko,-123.095,44.0505,"(Eugene, Lane County, Oregon, USA, (44.0505054..."
486,Reno Nevada US,5uATBdrxi9YCXEozxFItnB,-119.814,39.5293,"(Reno, Washoe County, Nevada, USA, (39.52927, ..."
487,Taguig PH,6WU4fCvIrfuTPf8H4uZyiN,121.074,14.5266,"(Taguig, Metro Manila, Philippines, (14.526625..."
488,Bacoor PH,148qTDLEhw8Ryn23grlOVB,120.94,14.4594,"(Bacoor, Cavite, Calabarzon, 4102, Philippines..."
489,Maringá BR,0spCIlaS4V4sBP2GsVVlKS,-51.9382,-23.4253,"(Maringá, Microrregião Maringá, Mesorregião No..."
490,Durham North Carolina US,643vCKUXSZPY1gKuKsCAY6,-78.8752,36.0181,"(Durham County, North Carolina, USA, (36.01813..."
491,Karlsruhe DE,1RPucrV2sttn7owayPgSY6,8.40342,49.0069,"(Karlsruhe, Regierungsbezirk Karlsruhe, Baden-..."
492,Berkeley California US,7dl5glscAo3Bn7bs1u1NDW,-122.273,37.8708,"(Berkeley, Alameda County, California, USA, (3..."
493,'s-Hertogenbosch NL,56JUohYYEyiyLCKdaxv7z0,5.29192,51.71,"('s-Hertogenbosch, Noord-Brabant, Nederland, (..."
494,Breda NL,4PSGWgTu8CVBjDhZPY7b7S,4.75123,51.5644,"(Breda, Noord-Brabant, Nederland, (51.5644477,..."
495,Plymouth GB,7C31VhIFJQcOy2bhFt4RjP,-4.14257,50.3713,"(Plymouth, South West England, England, PL1 1H..."
496,Santa Barbara California US,0uyX6OnrrDlO2rwAlmDRiD,-119.703,34.4221,"(Santa Barbara, Santa Barbara County, Californ..."
497,Federal Way Washington US,5HXYRzSZL7oGKSIBGmfXpo,-122.339,47.3135,"(Federal Way, King County, Washington, USA, (4..."
498,Cuiabá BR,01EhPY8kh6SxURRJogckvp,-56.0991,-15.5987,"(Cuiabá, Microrregião de Cuiabá, Mesorregião C..."
499,Ensenada MX,77XgdG24ACXetz2vfXZE9R,-115.231,30.1928,"(Ensenada, Baja California, México, (30.192766..."

In [20]:
playlists_1['point'] = playlists_1['location'].apply(lambda loc: tuple(loc.point) if loc else None)

In [22]:
playlists_1

,name,id,long,lat,location,point
0,Mexico City MX,5SHk94ZLUYckc8ZQBF4vqv,-99.1333,19.4326,"(Ciudad de México, Cuauhtémoc, CDMX, 06060, Mé...","(19.4326009, -99.1333416, 0.0)"
1,Santiago CL,1YKDzk8dulhTk8BfLjZlGS,-70.6504,-33.4378,"(Santiago, Provincia de Santiago, Región Metro...","(-33.4377968, -70.6504451, 0.0)"
2,São Paulo BR,6QOjOvLDWKVNCW9H1J9vCY,-46.6334,-23.5507,"(SP, Região Imediata de São Paulo, RMSP, Regiã...","(-23.5506507, -46.6333824, 0.0)"
3,Los Angeles California US,53JqQphsAHvDGGVZErKmW5,-118.243,34.0537,"(LA, Los Angeles County, California, USA, (34....","(34.0536834, -118.2427669, 0.0)"
4,Chicago Illinois US,6UhIdjRWhofrYI32vzVuh9,-87.6244,41.8756,"(Chicago, Cook County, Illinois, USA, (41.8755...","(41.8755616, -87.6244212, 0.0)"
5,Paris FR,2sxvQMwzAo9yjbDVBxufmh,2.3515,48.8566,"(Paris, Île-de-France, France métropolitaine, ...","(48.8566101, 2.3514992, 0.0)"
6,London GB,19wzfxZp8hgp16XrLwc12e,-0.127647,51.5073,"(London, Greater London, England, SW1A 2DX, UK...","(51.5073219, -0.1276474, 0.0)"
7,Houston Texas US,7ihMjetICZGO8wxr65fJmx,-95.3677,29.7589,"(Houston, Harris County, Texas, USA, (29.75893...","(29.7589382, -95.3676974, 0.0)"
8,Buenos Aires AR,1iyu1s4szp3ASCNSbGerzQ,-58.4371,-34.6076,"(CABA, Argentina, (-34.6075616, -58.437076))","(-34.6075616, -58.437076, 0.0)"
9,Dallas Texas US,5thq4HQaIBxOK1vE9bu2nj,-99.076,19.5059,"(Dallas Texas, Las Vegas Xalostoc, Ecatepec, E...","(19.5059496, -99.075962, 0.0)"
10,Madrid ES,6c39fJ8cKRZh0tNx0rnn3T,-3.70358,40.4167,"(Madrid, Área metropolitana de Madrid y Corred...","(40.4167047, -3.7035825, 0.0)"
11,Lima PE,4bAPnXF75Wq8YZ7UiTV3Ty,-77.0365,-12.0621,"(Lima, Perú, (-12.0621065, -77.0365256))","(-12.0621065, -77.0365256, 0.0)"
12,Atlanta Georgia US,2t6uU8AELDRclkCaw1vydr,-84.3902,33.7491,"(Atlanta, Fulton County, Georgia, USA, (33.749...","(33.7490987, -84.3901849, 0.0)"
13,Toronto CA,13tOPoUzV01Y8ecn2pJcKt,-79.3872,43.654,"(Toronto, Ontario, M6K 1X9, Canada, (43.653963...","(43.653963, -79.387207, 0.0)"
14,New York New York US,4vH8Fb8fmgM4NELtVHIJQj,-82.4425,27.9604,"(New York New York, 1512, East 7th Avenue, Ybo...","(27.9603989, -82.4425033, 0.0)"
15,Amsterdam NL,2ifz20E9OmNq4bwiM4Ljwu,4.89798,52.3745,"(Amsterdam, Noord-Holland, Nederland, (52.3745...","(52.3745403, 4.89797550561798, 0.0)"
16,Jakarta ID,1LpzaNlBoXai5Pk15XFcO2,106.827,-6.17539,"(JKT, Indonesia, (-6.1753942, 106.827183))","(-6.1753942, 106.827183, 0.0)"
17,Oslo NO,55x1yHC2AcXIwttpo753ox,10.739,59.9133,"(Oslo, 0026, Norge, (59.9133301, 10.7389701))","(59.9133301, 10.7389701, 0.0)"
18,Stockholm SE,2hrK0uywgccjXbeYgArX7Q,18.0711,59.3251,"(Sthlm, Stockholm, Stockholms län, Svealand, 1...","(59.3251172, 18.0710935, 0.0)"
19,Brooklyn New York US,1TyZihjHVxRiLgIIQ8doRz,-73.9496,40.6501,"(BK, Kings County, NYC, New York, 11226, USA, ...","(40.6501038, -73.9495823, 0.0)"
20,Rio de Janeiro BR,0RB9TGqkbQ6pDRKcvGuzp6,-43.2094,-22.911,"(Rio de Janeiro, Microrregião Rio de Janeiro, ...","(-22.9110137, -43.2093727, 0.0)"
21,Istanbul TR,6d4VetcBureS2kT9S7HPXF,28.9652,41.0096,"(İstanbul, Fatih, İstanbul, Marmara Bölgesi, 3...","(41.0096334, 28.9651646, 0.0)"
22,Zapopan MX,3L11cPKOzKS0bwlo8ljj8Z,-103.426,20.7024,"(Zapopan, Jalisco, 45129, México, (20.702442, ...","(20.702442, -103.4261941, 0.0)"
23,San Francisco California US,7lP1NljSSmtIezSvXaRu1M,-122.419,37.7793,"(SF, California, USA, (37.7792808, -122.4192363))","(37.7792808, -122.4192363, 0.0)"
24,Singapore SG,5dbzNyAsTRH8Y8OcpVXhld,103.878,1.34085,"(Singapore, Southeast, Singapore, (1.3408528, ...","(1.3408528, 103.878446863736, 0.0)"
25,Puebla City MX,3Q21UUviI0lBQHQUy5qhGK,-98,18.8333,"(Puebla, México, (18.833333, -98.0))","(18.833333, -98.0, 0.0)"
26,Quezon City PH,2ydams7eMWnC4OlHWm7JAS,121.049,14.651,"(Quezon City, 4th District, Quezon City, Metro...","(14.6509905, 121.0486155, 0.0)"
27,Hamburg DE,55MH5B9IOaMpCGQjbsTqB5,10.0007,53.5503,"(Hamburg, 20095, Deutschland, (53.550341, 10.0...","(53.550341, 10.000654, 0.0)"
28,Milan IT,5Mc2WDyCgHc4plxVWPG9w5,9.1905,45.4668,"(Milano, MI, LOM, Italia, (45.4667971, 9.19049...","(45.4667971, 9.1904984, 0.0)"
29,Berlin DE,7BRS5IzacmVtRjGH1JYwM6,13.3889,52.517,"(Berlin, 10117, Deutschland, (52.5170365, 13.3...","(52.5170365, 13.3888599, 0.0)"
...,...,...,...,...,...,...
470,Zoetermeer NL,5gZSquFNGHQoMduRSF0soq,4.48775,52.0623,"(Zoetermeer, Zuid-Holland, Nederland, (52.0622...","(52.06228915, 4.48775455369488, 0.0)"
471,Santa Rosa PH,2s38eK6oyW6cvbGLm7Jf4Y,-81.6176,8.17177,"(Santa Rosa (p), Distrito Tolé, Chiriquí, Pana...","(8.1717669, -81.6175899, 0.0)"
472,Natal BR,0nFPFxzBc3SWbwaneiZQXw,-35.2081,-5.8054,"(Natal, Microrregião de Natal, Mesorregião do ...","(-5.805398, -35.2080905, 0.0)"
473,Tallahassee Florida US,5jzqU9XaoRi7Myt4MLCRw2,-84.2809,30.4381,"(Tallahassee, Leon County, Florida, USA, (30.4...","(30.4380832, -84.2809332, 0.0)"
474,Bonn DE,5JHgItKCUtwifREY7fuXTX,7.10066,50.7359,"(Bonn, Regierungsbezirk Köln, Nordrhein-Westfa...","(50.735851, 7.10066, 0.0)"
475,Fremont California US,6oO7wSM87KtoXT8EBcwawZ,-121.989,37.5483,"(Fremont, Alameda County, California, USA, (37...","(37.5482697, -121.9885719, 0.0)"
476,Katy Texas US,2TGyU3Bop1htx0QOKBCMtQ,-95.8244,29.7858,"(Katy, Fort Bend County, Texas, USA, (29.78578...","(29.7857853, -95.8243956, 0.0)"
477,Mira Loma California US,3Yd8GZbbQCB60z8cV8A1Lz,-117.515,33.9821,"(Mira Loma Locality, 58th Street, Mira Loma, E...","(33.98208635, -117.515351135788, 0.0)"
478,Greenwich GB,305pQCFxEb4VmWOtxIaYl1,1.16893,52.0367,"(Greenwich, Ipswich, Suffolk, East of England,...","(52.0367323, 1.168934, 0.0)"
479,Taoyuan District TW,3Iv9NOni8417Epu0nV7QTk,121.302,24.9939,"(桃園區, 桃園市, 330, 臺灣, (24.993923, 121.30168))","(24.993923, 121.30168, 0.0)"
480,João Pessoa BR,1UIwXefnM2Qox4mnsYSBW6,-34.882,-7.1216,"(João Pessoa, Microrregião de João Pessoa, Reg...","(-7.1215981, -34.882028, 0.0)"
481,Osnabrück DE,6nAdpWHTQegZMSVK3IlV5F,8.04974,52.2668,"(Osnabrück, Niedersachsen, 49074, Deutschland,...","(52.266837, 8.049741, 0.0)"
482,Villingen-Schwenningen DE,3hpthCL5U9nwqrfataEouj,8.49459,48.0633,"(Villingen-Schwenningen, Verwaltungsgemeinscha...","(48.0632739, 8.494588, 0.0)"
483,Haarlem NL,3CDIsjPmnPrpydvIEGCGMi,4.64356,52.3837,"(Haarlem, Noord-Holland, Nederland, (52.383705...","(52.38370575, 4.64355969655963, 0.0)"
484,Ho Chi Minh City VN,0vwHwRhZ4lT6wo4ShOO7nU,106.702,10.7758,"(Tp HCM, Việt Nam, (10.7758439, 106.7017555))","(10.7758439, 106.7017555, 0.0)"
485,Eugene Oregon US,4GFmvJIHBzowHJJMB8nBko,-123.095,44.0505,"(Eugene, Lane County, Oregon, USA, (44.0505054...","(44.0505054, -123.0950506, 0.0)"
486,Reno Nevada US,5uATBdrxi9YCXEozxFItnB,-119.814,39.5293,"(Reno, Washoe County, Nevada, USA, (39.52927, ...","(39.52927, -119.8136744, 0.0)"
487,Taguig PH,6WU4fCvIrfuTPf8H4uZyiN,121.074,14.5266,"(Taguig, Metro Manila, Philippines, (14.526625...","(14.5266254, 121.074403, 0.0)"
488,Bacoor PH,148qTDLEhw8Ryn23grlOVB,120.94,14.4594,"(Bacoor, Cavite, Calabarzon, 4102, Philippines...","(14.4594486, 120.9401716, 0.0)"
489,Maringá BR,0spCIlaS4V4sBP2GsVVlKS,-51.9382,-23.4253,"(Maringá, Microrregião Maringá, Mesorregião No...","(-23.425269, -51.9382078, 0.0)"
490,Durham North Carolina US,643vCKUXSZPY1gKuKsCAY6,-78.8752,36.0181,"(Durham County, North Carolina, USA, (36.01813...","(36.0181316, -78.8751582, 0.0)"
491,Karlsruhe DE,1RPucrV2sttn7owayPgSY6,8.40342,49.0069,"(Karlsruhe, Regierungsbezirk Karlsruhe, Baden-...","(49.0068705, 8.4034195, 0.0)"
492,Berkeley California US,7dl5glscAo3Bn7bs1u1NDW,-122.273,37.8708,"(Berkeley, Alameda County, California, USA, (3...","(37.8708393, -122.2728639, 0.0)"
493,'s-Hertogenbosch NL,56JUohYYEyiyLCKdaxv7z0,5.29192,51.71,"('s-Hertogenbosch, Noord-Brabant, Nederland, (...","(51.7099698, 5.29191613945104, 0.0)"
494,Breda NL,4PSGWgTu8CVBjDhZPY7b7S,4.75123,51.5644,"(Breda, Noord-Brabant, Nederland, (51.5644477,...","(51.5644477, 4.75122959738863, 0.0)"
495,Plymouth GB,7C31VhIFJQcOy2bhFt4RjP,-4.14257,50.3713,"(Plymouth, South West England, England, PL1 1H...","(50.3712659, -4.1425658, 0.0)"
496,Santa Barbara California US,0uyX6OnrrDlO2rwAlmDRiD,-119.703,34.4221,"(Santa Barbara, Santa Barbara County, Californ...","(34.4221319, -119.7026673, 0.0)"
497,Federal Way Washington US,5HXYRzSZL7oGKSIBGmfXpo,-122.339,47.3135,"(Federal Way, King County, Washington, USA, (4...","(47.313494, -122.3393103, 0.0)"
498,Cuiabá BR,01EhPY8kh6SxURRJogckvp,-56.0991,-15.5987,"(Cuiabá, Microrregião de Cuiabá, Mesorregião C...","(-15.5986686, -56.0991301, 0.0)"
499,Ensenada MX,77XgdG24ACXetz2vfXZE9R,-115.231,30.1928,"(Ensenada, Baja California, México, (30.192766...","(30.1927661, -115.231462577994, 0.0)"

In [42]:
playlists.to_csv('playlists_info.txt', index=False)

In [40]:
playlists[2500:]

                           name                      id long lat
2500              Vaellingby SE  3NVk7WMJgOv6q6FQgqbJG4
2501                     Jar NO  39YWZD1F1BD82NcBbpUMJ5
2502                  Laholm SE  4QBTKQretu0g3dxfU4QCVF
2503   Giugliano in Campania IT  6qSuyJ7aJurKIHlluRoM7H
2504                 Gryfice PL  2DG61QFFtelwNNuKyQ64lT
2505                   Roden NL  3DBMBthUJ7esQ3eeqvQ5wx
2506             Bagong Ilog PH  30f9u694UXY5VB2kz5GHIn
2507                  Rawson AR  5b5qttpQfHZsBzuJoD2aEb
2508  San Giuseppe Vesuviano IT  3OxZeyrp3mMUMbZ757wz7d
2509              Oskarshamn SE  6qGmSw7SVBR58bUHua6K1S
2510                   Aguso PH  3ARR9aFPsPgLC44SmSCneA
2511                  Drancy FR  3QMS63sdPUuPQrdueYfWWC
2512                Egersund NO  2jGsczV1xBrsr7HEWnTumk
2513                    Meda IT  15vWGcFG6a2uLVpNy18WsJ
2514                 Thisted DK  7LIkF7OHxMKEYoZuOk1tTh
2515              Hoellviken SE  2f6poDL2UstyxCc7T5WMOm
2516                  Pesaro IT  5gnLifdfNJMDLXMe8JmRyK
2517                Chartres FR  0szOqjE4fNlrfyRoOsBcbC
2518               Schijndel NL  4jv3WfUJy9xAGxIHo2zZkU
2519                Kerkrade NL  7Emg2kIj9v5CMYb1rHiHpV
2520      Lucas do Rio Verde BR  1EEVl6sUNKSegkh6xg95Tu
2521                   Klepp NO  7jUzOGKRm1KBMXL5fVuTHD
2522                  Spinea IT  60H5JWqFj1BpWeUDUV6wzT
2523                  Raalte NL  7Dkb6NwXF1LbP24TP2GtWG
2524                  Balsta SE  02X2tNZa2c2U0NxgEE46mj
2525                Reeuwijk NL  72twba56joGqTx8wkN2WC4
2526           Saint-Chamond FR  5jJpnxSw7vgaCiMNxuPwPk
2527            Sungai Buloh MY  34NgtXDXBhNEpv7KyKBzwf
2528                 Lorient FR  1dZQXmQ7u4b9k51ei06VTe
2529                 Mantova IT  6uf633vA7zwaobjAvkGygv
...                         ...                     ...  ...  ..
2864                  Mielec PL  6phVArEu8tH5WeLOnysUzd
2865               Ayutthaya TH  2FB5lG8uByOsVZ1d2tUBBf
2866              Ratchaburi TH  0deHRYEYlizQKH9WLdbUl6
2867               Włocławek PL  2LaLGKlhcJbdnpqRBpM6bB
2868                Wakayama JP  66jWDfvlTmZM4RqMjNBXeQ
2869               Kurashiki JP  2lV8Nx2yHrvMEJiGf1ZEqH
2870               Riihimäki FI  6xvpVWILX9jEDSE36JjToB
2871            Samut Sakhon TH  1CXGDTrWiiCKhmvWPCy1z9
2872                  Zamość PL  17AriJexrTCviLkcLj4QLY
2873                 Keelung TW  06e6bNP87GoHQYfpDBnbPc
2874            Taitung City TW  5qcHeYzOvOl69xBz9lxHX7
2875                  Yozgat TR  5354MYFfJ2vZBVMsfW84WG
2876                   Kutno PL  6od2m8AwRuHFQQM6wm3FRT
2877                Mäntsälä FI  4mleeAi5MajPDL8kwwhQDv
2878                   Rauma FI  7gVXDO6laZBhgh2f3aVZch
2879              Chiang Rai TH  1Ygr9lwdAnrk7lTylIOsBx
2880                   Jaslo PL  0LtVV5pq720xJZV2BdJ5sL
2881                    Ōtsu JP  3UNMJ8DJuxBzVNOWviNGiX
2882               Bełchatów PL  362GBMcXzKaT76PjYBP52T
2883                  Jokela FI  6wSdaCIjwkixHaexzjB8MU
2884               Kangasala FI  3XV0lyuO2dGbvEvv0ZUAEb
2885                 Lopburi TH  577QOdJHVTlf74mJAppUmz
2886            Samut Prakan TH  1eIJ56wDbBtdMfR8UePQRL
2887            Nakhon Sawan TH  2U3ek0pMGmEnFOLy2UiDvs
2888        Ubon Ratchathani TH  1nzF3QaAppdqA71XpttNkH
2889          Brondby Strand DK  6smQfuGuk2HVdT51hdUPj3
2890                Si Racha TH  4YGwQFZ4ceL9BlLsGkzT5p
2891                Saraburi TH  3WF043oZ6ZKnuKAOJPBdg1
2892            Chachoengsao TH  4dv3vvVbM9SmzAsjeXnYrS
2893                 Lampang TH  0uS38qiomAE340F6xQEPG1

[394 rows x 4 columns]

In [41]:
import time

pbar = tqdm_notebook(total=len(playlists)-2500)

for i, row in playlists[2500:].iterrows():
    time.sleep(1)
    location = geolocator.geocode(row['name'])
    if location is not None:
        playlists.iloc[i]['lat'] = location.latitude
        playlists.iloc[i]['long'] = location.longitude
    pbar.update(1)

HBox(children=(IntProgress(value=0, max=394), HTML(value='')))

In [44]:
playlists_info = pd.read_csv('playlists_info.csv')
playlists_info[playlists_info['long'] == '']

/Library/Frameworks/Python.framework/Versions/3.7/lib/python3.7/site-packages/pandas/core/ops.py:1649: FutureWarning: elementwise comparison failed; returning scalar instead, but in the future will perform elementwise comparison
  result = method(y)

Empty DataFrame
Columns: [name, id, long, lat]
Index: []

In [45]:
playlists_info

,name,id,long,lat
0,Mexico City MX,5SHk94ZLUYckc8ZQBF4vqv,-99.133342,19.432601
1,Santiago CL,1YKDzk8dulhTk8BfLjZlGS,-70.650445,-33.437797
2,São Paulo BR,6QOjOvLDWKVNCW9H1J9vCY,-46.633382,-23.550651
3,Los Angeles California US,53JqQphsAHvDGGVZErKmW5,-118.242767,34.053683
4,Chicago Illinois US,6UhIdjRWhofrYI32vzVuh9,-87.624421,41.875562
5,Paris FR,2sxvQMwzAo9yjbDVBxufmh,2.351499,48.856610
6,London GB,19wzfxZp8hgp16XrLwc12e,-0.127647,51.507322
7,Houston Texas US,7ihMjetICZGO8wxr65fJmx,-95.367697,29.758938
8,Buenos Aires AR,1iyu1s4szp3ASCNSbGerzQ,-58.437076,-34.607562
9,Dallas Texas US,5thq4HQaIBxOK1vE9bu2nj,-99.075962,19.505950
10,Madrid ES,6c39fJ8cKRZh0tNx0rnn3T,-3.703582,40.416705
11,Lima PE,4bAPnXF75Wq8YZ7UiTV3Ty,-77.036526,-12.062107
12,Atlanta Georgia US,2t6uU8AELDRclkCaw1vydr,-84.390185,33.749099
13,Toronto CA,13tOPoUzV01Y8ecn2pJcKt,-79.387207,43.653963
14,New York New York US,4vH8Fb8fmgM4NELtVHIJQj,-82.442503,27.960399
15,Amsterdam NL,2ifz20E9OmNq4bwiM4Ljwu,4.897976,52.374540
16,Jakarta ID,1LpzaNlBoXai5Pk15XFcO2,106.827183,-6.175394
17,Oslo NO,55x1yHC2AcXIwttpo753ox,10.738970,59.913330
18,Stockholm SE,2hrK0uywgccjXbeYgArX7Q,18.071093,59.325117
19,Brooklyn New York US,1TyZihjHVxRiLgIIQ8doRz,-73.949582,40.650104
20,Rio de Janeiro BR,0RB9TGqkbQ6pDRKcvGuzp6,-43.209373,-22.911014
21,Istanbul TR,6d4VetcBureS2kT9S7HPXF,28.965165,41.009633
22,Zapopan MX,3L11cPKOzKS0bwlo8ljj8Z,-103.426194,20.702442
23,San Francisco California US,7lP1NljSSmtIezSvXaRu1M,-122.419236,37.779281
24,Singapore SG,5dbzNyAsTRH8Y8OcpVXhld,103.878447,1.340853
25,Puebla City MX,3Q21UUviI0lBQHQUy5qhGK,-98.000000,18.833333
26,Quezon City PH,2ydams7eMWnC4OlHWm7JAS,121.048615,14.650991
27,Hamburg DE,55MH5B9IOaMpCGQjbsTqB5,10.000654,53.550341
28,Milan IT,5Mc2WDyCgHc4plxVWPG9w5,9.190498,45.466797
29,Berlin DE,7BRS5IzacmVtRjGH1JYwM6,13.388860,52.517036
...,...,...,...,...
2864,Mielec PL,6phVArEu8tH5WeLOnysUzd,21.424368,50.289251
2865,Ayutthaya TH,2FB5lG8uByOsVZ1d2tUBBf,100.572207,14.356037
2866,Ratchaburi TH,0deHRYEYlizQKH9WLdbUl6,99.355822,13.631790
2867,Włocławek PL,2LaLGKlhcJbdnpqRBpM6bB,19.096130,52.665564
2868,Wakayama JP,66jWDfvlTmZM4RqMjNBXeQ,135.593074,33.807029
2869,Kurashiki JP,2lV8Nx2yHrvMEJiGf1ZEqH,133.771996,34.585079
2870,Riihimäki FI,6xvpVWILX9jEDSE36JjToB,24.772815,60.739009
2871,Samut Sakhon TH,1CXGDTrWiiCKhmvWPCy1z9,100.258587,13.570819
2872,Zamość PL,17AriJexrTCviLkcLj4QLY,23.259589,50.721273
2873,Keelung TW,06e6bNP87GoHQYfpDBnbPc,121.744652,25.131723
2874,Taitung City TW,5qcHeYzOvOl69xBz9lxHX7,121.145654,22.756045
2875,Yozgat TR,5354MYFfJ2vZBVMsfW84WG,34.809492,39.820557
2876,Kutno PL,6od2m8AwRuHFQQM6wm3FRT,19.357018,52.231756
2877,Mäntsälä FI,4mleeAi5MajPDL8kwwhQDv,25.318819,60.633927
2878,Rauma FI,7gVXDO6laZBhgh2f3aVZch,21.503940,61.128915
2879,Chiang Rai TH,1Ygr9lwdAnrk7lTylIOsBx,99.884744,19.732084
2880,Jaslo PL,0LtVV5pq720xJZV2BdJ5sL,21.474314,49.747047
2881,Ōtsu JP,3UNMJ8DJuxBzVNOWviNGiX,135.868706,35.004817
2882,Bełchatów PL,362GBMcXzKaT76PjYBP52T,19.369183,51.365018
2883,Jokela FI,6wSdaCIjwkixHaexzjB8MU,24.967890,60.551423
2884,Kangasala FI,3XV0lyuO2dGbvEvv0ZUAEb,24.065938,61.464901
2885,Lopburi TH,577QOdJHVTlf74mJAppUmz,100.808918,15.026458
2886,Samut Prakan TH,1eIJ56wDbBtdMfR8UePQRL,100.818258,13.653165
2887,Nakhon Sawan TH,2U3ek0pMGmEnFOLy2UiDvs,99.928848,15.705477
2888,Ubon Ratchathani TH,1nzF3QaAppdqA71XpttNkH,105.326954,15.187968
2889,Brondby Strand DK,6smQfuGuk2HVdT51hdUPj3,12.421862,55.620988
2890,Si Racha TH,4YGwQFZ4ceL9BlLsGkzT5p,100.930217,13.166066
2891,Saraburi TH,3WF043oZ6ZKnuKAOJPBdg1,100.860102,14.624056
2892,Chachoengsao TH,4dv3vvVbM9SmzAsjeXnYrS,101.546720,13.609319
2893,Lampang TH,0uS38qiomAE340F6xQEPG1,99.733250,18.679973