In [23]:
import pandas as pd
import numpy as np
import seaborn as sns
from tqdm._tqdm_notebook import tqdm_notebook
tqdm_notebook.pandas()

song_files = ['2019-3-1','2019-3-15','2019-4-1','2019-4-15','2019-5-1']

In [282]:
sim_scores = pd.read_csv('../data/similarity_scores.txt')

### Verifying Song Simlarity Scores against Lyrics

In [245]:
lyrics = pd.read_csv('../data/lyrics/song_info.txt')
lyrics = lyrics[['song_id', 'lyrics', 'artist', 'title']]
lyrics = lyrics.merge(right=sim_scores, how='inner', on='song_id')
lyrics.head()

,song_id,lyrics,artist,title,crime_cos,economy_cos,government_cos,religion_cos
0,6cbqh8woSu03Vj8s1PCK9C,"Uh\r\nHere we go, that's right\r\nUh huh uh hu...",Macka B,Step Up,0.419116,0.476519,0.518493,0.549153
1,3xIHePHJbOEtnzlwAOoCtz,He be rollin' in his jeep\r\nCruisin' down on ...,Leschea,Fulton St.,0.419116,0.444604,0.518493,0.472757
2,3zb1zBmkrPF6VW8RhlSYA1,"So pay attention, babe\r\nPay attention\r\nOur...",Suga Free,Why U Bullshittin'?,0.446811,0.470896,0.518493,0.580594
3,6A8KuRrV72ZP4MneZRCsSm,[Chorus]\r\nI don't mean to be rude\r\nI don't...,03 Greedo,Rude,0.559396,0.470896,0.518493,0.500630
4,7hphy8rtxpYshs3UzDZTzN,I run after you like a fool would do\r\nBut ma...,Brenton Wood,Baby You Got It,0.423856,0.470896,0.518493,0.499225

In [249]:
max_econ = lyrics.sort_values(by='economy_cos', ascending=False).iloc[0]
print(max_econ['title'],'by',max_econ['artist'],'\n',max_econ['lyrics'])

Down by Pietro Lombardi
 "Baby are you down down down down down,
(Down, Down,)
Even if the sky is falling down,
(Down down,)

You ought to know,
Tonight is the night to let it go,
Put on a show,
I wanna see how you lose control,
So leave it behind 'cause we have a night to get away,
So come on fly with me as we make our great escape,

So baby don't worry you were my only
You won't be lonely
Even if the sky is falling down
You'd be my only no need to worry
Baby are you down down down down down,
(Down, Down)
Baby are you down down down down down,
(Down, Down)
Even if the sky is falling down,

Just let it be,
Come on bring your body next to me,
I'll take you away,
Turn this place into our private getaway,
So leave it behind 'cause we have a night to get away,
So come on fly with me as
We make our great escape so why don't we run away.

Like she suppose to be,
She is down all over me,
Down like her temperature cause to me she is zero degrees,
She cold over freeze I got that girl overseas,
Now she's my listenary,
Now can I be her soldier please,
I'm fighting for this girl on the battlefield of love,
Don't it look like baby cupid sending arrows from above,
Don't you ever leave the side of me
And definitely, now probably,
And honestly, I'm down like the economy."

In [278]:
temp = lyrics.loc[lyrics['economy_cos'] <= .99999]
temp = temp.sort_values(by='economy_cos', ascending=False)
print(temp.iloc[0]['title'],'by',temp.iloc[0]['artist'],'\n',temp.iloc[0]['economy_cos'])
print(temp.iloc[0]['lyrics'])

What Would Happen? by Pegz
 0.8339735898826928
What would happen if today was your last?
Would you wake up early get blazed in the park?
Would you get off your face in a bar?
Would you make love sniffin cocaine in a spa?
Would ya say sorry for mistakes in your past
Would you try and forgive her for breaking your heart?
Would you get what you came to ask before you're gone, write a letter or record a song?
Would you scuba dive, sky dive, hire a ferrari, penthouse party, set fire to ya money?
Would you rob the bank, house the homeless, donate your organs to lousy smokers?
Would you focus on ya close fam, cook up a feast of cray fish and spit roast lamb?
Would you go back home, walk the streets cause some beefs, get off your guts and talk to police?
Would you dance to your favourite track if it was played full blast on a train that's packed?
Would you hijack a plane and crash it into parlament, for the freedom to protest an argument?
Would you wish you could rewind and start again?
Stop playin' the harlequin.

Wake up tomorrow morning
See the sun shine bright
Wake up tomorrow morning
See the sun shine bright.


Would you surf the crowd at a james brown concert sing everyword and drink till you vomit?
Would you wanna meet the queen or Dali Lama, would you wanna meet George Bush or Osama, would you wanna meet Ja Rule or *bambaataa*.
It's what you've done not where your at or from brother.

Are you chained to a desk are you brave with your heart are you diggin in the trench in the rain and the mud?
I've got something that I came to ask, what would happen if today was your last?
Are you sittin' on the bench, are you makin' your mark? afraid of the future and ashamed of the past?
I got something that I came to ask, what would happen if today was your last?


Would you try a threesome in the back of a commodore, with a box of cadbury chocolate body sauce?
Would you want it all, tour the Greek Islands?
Safari through the Congo to see lions
Would you know the mystery of the amazon, would you know the history of the land you're on?
Would you know the industry's a paragon for slimy mother fuckers like alan bond?
Would you save earth?
Or finish a days work?
It's to late, your spirit's a caged bird.
Would you make it worth your while, go tonight, take a bus, steal a posty's motorbike?
Would you globalise and let everybody know, we're all victims of economic growth?
Would you make a menze?
Savour every second take revenge on your boss with a heavy weapon
Would you let 'em know your darkest secret?
Reveal all in your partners grieving?
Would ya escape from a Divvy van?
Fuck like your being taped on mini cam?
What would happen if today was your last?
That's what I came to ask.

By MadCow

In [272]:
i = 0
temp = lyrics.loc[lyrics['government_cos'] <= .99999]
temp = temp.sort_values(by='government_cos', ascending=False)
print(temp.iloc[i]['title'],'by',temp.iloc[i]['artist'],temp.iloc[i]['government_cos'],'\n')
print(temp.iloc[i]['lyrics'])

Son of God by Chris Renzema 0.8198100942488336

"[Instrumental]

[Verse 1]
We have seen the glory of the Lord rise with broken lives restored
But not by governments nor fire
We have felt the touch of heavens hands mend the bones and hearts of man
But not by medicine nor idols
We have tasted mercy undeserved, bought for the children of the earth
But not by silver nor by gold, but by the One who left His throne

[Chorus 1]
Ooh we've seen graves and oceans bow
Before human feet, dawn is breaking now
Darkness must retreat for the Son of God, He walks among us

[Verse 2]
We have heard the promise of a land where war will cease from among men
But not by presidents nor trials
We have seen the greatness of our King, hope that all will be redeemed
But not by military might, but by the Man who bled and died

[Chorus 1]
Ooh we've seen graves and oceans bow
Before human feet, dawn is breaking now
Darkness must retreat for the Son of God, He walks among us

[Chorus 2]
Ooh we've seen signs and wonders here
Held in human hands, a Kingdom carried near
Scorning hells demands for the Son of God's alive among us

[Post-Chorus]
Oh
He's alive among us
He's alive among us, oh-oh-oh-oh

[Chorus 1]
Ooh we've seen graves and oceans bow
Before human feet, dawn is breaking now
Darkness must retreat for the Son of God, He walks among us

[Chorus 2]
Ooh we've seen signs and wonders here
Held in human hands, a Kingdom carried near
Scorning hells demands for the Son of God's alive among us

[Outro]
Yeah, He's alive among us
He's alive among us
The Son of God's alive among us
He's alive among us
The Son of God's alive among us"

In [273]:
i = 0
temp = lyrics.loc[lyrics['government_cos'] <= .99999]
temp = temp[~temp.lyrics.str.contains('govern')]
temp = temp.sort_values(by='government_cos', ascending=False)
print(temp.iloc[i]['title'],'by',temp.iloc[i]['artist'],temp.iloc[i]['government_cos'],'\n')
print(temp.iloc[i]['lyrics'])

Money Sprung (feat. Don Q) by A Boogie Wit da Hoodie 0.7393125185475625

"Money sprung, money sprung

Fuck it, I'm back with another one
Fuck it up and do another one
My niggas do not shoot dirty guns
Shoot it up and get another one
I keep on counting them hundreds up
I think I'm falling in love with 'em
I keep on counting them hundreds my nigga
I think that I'm money sprung
Money sprung, money sprung
My nigga, I think I'm money sprung
Money sprung, money sprung
My nigga, I think I'm money sprung
I keep on counting them hundreds up
I think I'm falling in love with 'em
I keep on counting them hundreds my nigga
I think that I'm money sprung

Track after track and another one
Know that's a hit, they can't fuck with us
Nigga, you don't gotta like me
To understand where I'm coming from
I know you would eat it, what's up
Don't chew on the dick like a bubble gum
Told herself to be the plug
Now everybody wanna fuck with her
Everybody need love, everybody need drugs
Nobody wanna be a dub
Every fit I put on probably cost me like a dub
I'm way too up, they can't keep up, yeah, yeah
I'm way too stuffed, I faced two cups, yeah, yeah
My new chain it look like a puck
My nigga, I'm icy as fuck, yeah, yeah
I feel like the King of New York
My jeweler is better than yours, yeah, yeah
A hundred sitting on my neck
Another hundred on the arm, yeah, yeah
I put the city on my back
How can I ever go wrong? Yeah, yeah
I don't need no groupie love
Go holla at my nigga Don (yeah, yeah, yeah)
I put my number in your phone
Just DM me if it was wrong (yeah, yeah, yeah)
I told her my name is Artist
Now she wanna call me Arty
Telling me about a party, told her, "I'm the one performing"
Fuck it up before the party started

Fuck it, I'm back with another one
Fuck it up and do another one
My niggas do not shoot dirty guns
Shoot it up and get another one
I keep on counting them hundreds up
I think I'm falling in love with 'em
I keep on counting them hundreds my nigga
I think that I'm money sprung
Money sprung, money sprung
My nigga, I think I'm money sprung
Money sprung, money sprung
My nigga, I think I'm money sprung
I keep on counting them hundreds up
I think I'm falling in love with 'em
I keep on counting them hundreds my nigga
I think that I'm money sprung

I'm ahead of the race
Flooring the gas, I'm passing the cops that I lead on a chase
If they come find out this weapon I placed
They might just give me a federal case
All of my folks has a residue taste
Rollie presidential when that presidential
Counting blue strips with the president face
I got the votes, don't you ever debate
Yeah, yeah, I got a chef at the crib
Little hoe, I don't never do dates
Yeah, yeah we are not looking for friends
So ain't no competitors safe
Yeah, yeah, five in the morning
I'm drinking on dirty, it's never too late
Yeah, yeah, leaving the spot
Had to switch up the whip, they was checking the plates
I'm still a menace
I do what I say and I won't give a fuck if you feel offended
You selling your soul just to get attention
I crept with a pole 'cause I feel the tension
Trappers, they love me, they throw on that Don
They get on that road with a pigeon in it
Little bitch you know me, I'm really the Don
I don't gotta try hard to fit the image
Look at my cup, it's Dirty Diana
I dropped two bananas and shook up the Fanta
Booked in Atlanta
I go to the club with the paper and I throw a book on the dancer
I am the one they was counting out
Now I get hundreds and count it out
Designer shit, they can't pronounce it
I'm styling out, they tryna spell it and sound it out
Yeah, yeah"

## Generate location scores using all songs datasets

In [283]:
all_songs = pd.DataFrame(columns=['location','crime_cos','economy_cos','government_cos','religion_cos','love_cos','date'])
for songs_date in song_files:
    songs_file = '../data/songs/songs_'+songs_date+'.txt'
    songs_file_path = '../data/songs/songs_'+songs_date+'.txt'
    songs = pd.read_csv(songs_file_path)
    songs = songs.merge(right=sim_scores, how='inner', on='song_id')
    songs = songs.drop(columns=['playlist_id', 'artist', 'title', 'song_id'])
    songs['date'] = datetime.strptime(songs_date, '%Y-%m-%d').date()
    all_songs = all_songs.append(songs, ignore_index = True)
    
print('Total songs:', len(all_songs))

Total songs: 263294

In [284]:
g = all_songs.groupby('location')
g = g.filter(lambda x: len(x) >= 30)
cities_sim = g.groupby('location').mean()
cities_sim.reset_index(inplace=True)
cities_sim.to_csv('../data/cities_sim.txt', index=False)

In [285]:
cities_sim = pd.read_csv('../data/cities_sim.txt')
cities_sim.head()

,location,crime_cos,economy_cos,government_cos,religion_cos,love_cos
0,'Ewa Beach Hawaii US,0.426272,0.447388,0.525013,0.512774,0.919705
1,'s-Hertogenbosch NL,0.440483,0.448800,0.499926,0.505985,0.785257
2,Aabenraa DK,0.434392,0.451828,0.511933,0.467208,0.755468
3,Aachen DE,0.439660,0.452977,0.501520,0.495179,0.808443
4,Aalborg DK,0.446035,0.458089,0.508529,0.466703,0.824546

### Top 5 Similarity Scores for Crime

In [276]:
top5_crime = cities_sim.sort_values(by='crime_cos', ascending=False)
top5_crime[:5][['location','crime_cos']]

                         location  crime_cos
1114     Sacramento California US   0.551192
574                  Hergiswil CH   0.550793
1133  San Francisco California US   0.541653
1164       Secaucus New Jersey US   0.539204
681                   Kingston JM   0.538189

### Top 5 Similarity Scores for Economy

In [277]:
top5_econ = cities_sim.sort_values(by='economy_cos', ascending=False)
top5_econ[:5][['location','economy_cos']]

                    location  economy_cos
324           Cricklewood GB     0.494464
1239  Sumrall Mississippi US     0.490715
390               Edgware GB     0.489482
681              Kingston JM     0.488154
1246             Surbiton GB     0.487170

## Find Similarity Scores by Country

In [288]:
cities_sim['country_code'] = cities_sim.location.str[-2:]
cities_sim.head()

,location,crime_cos,economy_cos,government_cos,religion_cos,love_cos,country_code
0,'Ewa Beach Hawaii US,0.426272,0.447388,0.525013,0.512774,0.919705,US
1,'s-Hertogenbosch NL,0.440483,0.448800,0.499926,0.505985,0.785257,NL
2,Aabenraa DK,0.434392,0.451828,0.511933,0.467208,0.755468,DK
3,Aachen DE,0.439660,0.452977,0.501520,0.495179,0.808443,DE
4,Aalborg DK,0.446035,0.458089,0.508529,0.466703,0.824546,DK

In [289]:
import pycountry

def country_code_to_name(df):
    return pycountry.countries.get(alpha_2=df['country_code']).name


cities_sim['country_name'] = cities_sim.progress_apply(country_code_to_name, axis=1)
# fix for USA
cities_sim.loc[cities_sim['country_code'] == 'US', 'country_name'] = 'United States of America'
cities_sim.head()

HBox(children=(IntProgress(value=0, max=1454), HTML(value='')))

,location,crime_cos,economy_cos,government_cos,religion_cos,love_cos,country_code,country_name
0,'Ewa Beach Hawaii US,0.426272,0.447388,0.525013,0.512774,0.919705,US,United States of America
1,'s-Hertogenbosch NL,0.440483,0.448800,0.499926,0.505985,0.785257,NL,Netherlands
2,Aabenraa DK,0.434392,0.451828,0.511933,0.467208,0.755468,DK,Denmark
3,Aachen DE,0.439660,0.452977,0.501520,0.495179,0.808443,DE,Germany
4,Aalborg DK,0.446035,0.458089,0.508529,0.466703,0.824546,DK,Denmark

### Crime: Top 5 Similarity Scores by Country

In [290]:
country_scores = cities_sim.groupby('country_name').mean()
top5_crime = country_scores.sort_values(by='crime_cos', ascending=False)
top5_crime[:5]['crime_cos']

country_name
Jamaica           0.538189
Nigeria           0.495108
Switzerland       0.488291
Ghana             0.479834
United Kingdom    0.474853
Name: crime_cos, dtype: float64

### Economy: Top 5 Similarity Scores by Country

In [291]:
top5_econ = country_scores.sort_values(by='economy_cos', ascending=False)
top5_econ[:5]['economy_cos']

country_name
Jamaica           0.488154
Nigeria           0.480197
Ghana             0.472350
Malaysia          0.468016
United Kingdom    0.467734
Name: economy_cos, dtype: float64

### Love: Top 5 Similarity Scores by Country

In [295]:
top10_love = country_scores.sort_values(by='love_cos', ascending=False)
top10_love[:5]['love_cos']

country_name
Philippines                 0.909973
Kuwait                      0.909055
Northern Mariana Islands    0.904651
United Arab Emirates        0.897295
Guam                        0.885811
Name: love_cos, dtype: float64

In [297]:
print(country_scores['crime_cos'].describe())
print(country_scores['economy_cos'].describe())
print(country_scores['love_cos'].describe())

count    45.000000
mean      0.444872
std       0.023377
min       0.415079
25%       0.428565
50%       0.437777
75%       0.450660
max       0.538189
Name: crime_cos, dtype: float64
count    45.000000
mean      0.452126
std       0.011255
min       0.429221
25%       0.446065
50%       0.450681
75%       0.456219
max       0.488154
Name: economy_cos, dtype: float64
count    45.000000
mean      0.824466
std       0.050347
min       0.682534
25%       0.785353
50%       0.823142
75%       0.860225
max       0.909973
Name: love_cos, dtype: float64